* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
:root{
    --blue : #4178dc;
    --black : #0a0a0b;
}
*{
    font-family: 'Poppins', sans-serif;
    padding: 0;margin: 0;
    border: none;outline: none;
    transition: all .2s linear;
    text-decoration: none;
    text-transform: capitalize;
}
::selection{
    background: var(--blue);
    color: #fff;
}
html{
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
}
html::-webkit-scrollbar{
    width: .6rem;
    border-radius: 10px;
    background-color: var(--black);
}
html::-webkit-scrollbar-track{
    background-color: var(--black);
}
html::-webkit-scrollbar-thumb{
    background-color: var(--blue);
}
body{background: var(--black);}
.search{color: var(--blue);font-size: 20px;cursor: pointer;}
.search:hover{color: #fff;}
section{padding: 2rem 9%;}
.grid{display: grid;}
.container{margin-left:1.5rem;margin-right: 1.5em;}
.btn{
    color: #fff;
    cursor: pointer;
    background-color: var(--blue);
    border-radius: 5px;
    padding: 15px;
}
.btn:hover{background-color: #2960c6;}
ul{list-style: none;}
.header{
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 15;
    background-color: var(--black);
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: calc(3.5rem + 1rem);
}
.nav_manu .nav_list{
    display: flex;
    text-align: center;
    flex-direction: row;
    column-gap: 3rem;
}
.header span{color: var(--blue);}
.logo a, .logo a i{color: #fff;font-size: 20px;}
.logo a i:hover{color: var(--blue);}
.toggle ,.close{display: none;}
@media  (max-width: 767px){
    .nav_manu{
        width: 100%;height: 100%;
        top: 0;right: -100%;
        background: rgb(24, 23, 23);
        transition: .3s;
        position: fixed;
    }
    .close , .toggle{
        color: #fff;
        font-size: 20px;
        cursor: pointer;
        display: inline;
    }
    .close{
        position: absolute;
        top: 1rem;
        right: 1rem;
    }
    .nav_manu .nav_list{
        display: flex;
        text-align: center;
        flex-direction: column;
        row-gap: 3rem;
        padding-top: 9rem;
    }
}
.nav_item a{font-size: 15px;color: #fff;}
.nav_item a:hover{color: var(--blue);}
.show{right: 0;}
.search-form{
    top: 115%;right: -100%;
    height: 3rem;width: 17rem;;
    position: absolute;
    display: flex;
    align-items: center;
    background-color: #fff;
}
.search-form input{
    width: 100%;height: 100%;
    color: var(--blue);
    font-size: 18px;
    padding: 20px;
    caret-color: var(--blue);
    
}
.search-form label{
    cursor: pointer;
    margin-right: 1.5rem;
    color: var(--black);
}
.search-form label:hover{color: var(--blue);}
.display{
    right: 3.5rem;
    opacity: 1;
    transition: all .3s linear;
}
.hide{right: -100%;}
h1,h2,h3{color: #fff;}
.home{position: relative;}
.shadow{
    background-color: hsla(219, 33%, 32%, .5);
    border-radius: 50%;
    filter: blur(105px);
}
.shadow-one{
    width: 400px;height: 400px;
    position: absolute;
    left: -9rem;top: -4rem;
}
.shadow-two{
    width: 300px;height: 300px;
    position: absolute;
    right: -10rem;bottom: 3rem;
}
.shadow-there{
    position: absolute;
    top: -2.5rem;
    left: -2.5rem;
    width: 180px;height: 180px;
    filter: blur(64px);
}
.shadow-four {
    position: absolute;
    left: 0.5rem;
    width: 180px;
    height: 180px;
    filter: blur(64px);
}
.home .container{
    padding-top: 5rem;
    position: relative;
    row-gap: 3rem;
}
.home .container .home-one{text-align: center;}
.home .container .home-one h1{color: #fff;font-size: 1.7rem;}
.home .container .home-one h2{margin-bottom: 1.5rem;font-size: 1.4rem;}
.home .container .home-one h3{font-size: 1.1rem;color: #888b91;}
.home .container .home-one i{color: var(--blue);margin-bottom: 2.5rem;}
.home-img{width: 280px;justify-self: center;}
.home .container .home-panal{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 2rem;
    text-align: center;
}
.home .container .home-panal .home-icon {
    color: #fff;
    font-size: 25px;
    margin-bottom: 10px;
    cursor: pointer;
}
.home .container .home-panal .home-icon i:hover{color: var(--blue);}
.home .container .home-panal h2{font-size: 20px;margin-bottom: 10px;}
.home .container .home-panal h3{font-size: 15px;color: #888b91;}
.home .container .home-btn{
    display: flex;
    justify-self: center;
    align-items: center;
    color: #fff;
    font-size: 22px;
    border: 2px solid #08915f;
    width: 70px;height: 70px;
    border-radius: 50%;
    position: relative;
}
.home .container .home-btn::before{
    content: '';
    width: 90px;height: 90px;
    border: 2px solid #08915f;
    border-radius: 50%;
    position: absolute;
    margin: -13px;
    box-shadow: 0 0 12px #08915f;
    animation: btn 3s infinite;
}
@keyframes btn {
    0%{
        box-shadow: 0 0 12px #08915f;
    }
    50%{
        box-shadow: 0 0 24px #08915f;
    }
}
.about .container{
    gap: 5rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.about-one , .about-two{flex: 1 1 20rem;}
.about .container img{width: 360px;border-radius: 5px;}
.about .container .about-one{position: relative;}
.about .container .lord{cursor: pointer;}
.about .container .lord1{top: 0;right: 40px; position: absolute;}
.about .container .lord2{top: 0;right: 80px; position: absolute;}
.about .container .lord3{top: 0;right: 120px; position: absolute;}
.about .container .lord4{top: 0;right: 160px; position: absolute;}
.about .container .card{
    width: 180px;
    right: 0; 
    bottom: -2.5rem; 
    background-color: hsla(0, 0%, 100%, .1);
    backdrop-filter: blur(16px);
    position: absolute;
    text-align: center;
    border-radius: 13px;
    padding: 5px;
    cursor: pointer;
}
.about .container .card:hover h2{color: #888b91;}
.about .container .card:hover p{color: #fff;}
.about .container .card h2{color: #fff;}
.about .container .card p{color: #888b91;}
.about .container .about-two h2{font-size: 23px;margin-bottom: 25px;}
.about .container .about-two p{color: #888b91;margin-bottom: 60px;}
.about .container .about-two p span{color: var(--blue);}
@media  (max-width: 500px){
    .about .container img {
        width: 241px;
    }
    .offer .offer-data p {
        margin: 19px 0;
    }
}
@media  (max-width: 3500px){
    .offer .offer-data h2{
        font-size: 19px;
    }

}
@media  (min-width: 600px) and (max-width: 1001px){
    .about .container img{
        width: 360px;
    }
    .about .container .card{
        left: 0;
    }
}
@media  (min-width: 1290px){
    .about .container .card{
        right: 50px;
    }
}
@media  (max-width: 1290px){
    .about .container .lord{
        display: none;
    }
}
.heading{text-align: center;margin: 50px 0;}
.popular .container{position: relative;}
article{width: 10px;}
.popular article{
    background-color: hsl(219, 4%, 7%);
    position: relative;
    width: 238px;
    margin-bottom: 20px;
    border-radius: 5px;
    padding: 13px;
    margin: 0 10px;
}
.popular article h2{font-size: 23px;margin-bottom: 10px;}
.popular article h3{font-size: 17px;color: #888b91;margin-bottom: 15px;}
.popular article img{
    width: 160px;
    overflow: hidden;
    margin: 10px 5px 15px 20px;
    transition: .4s;
}
.popular article:hover img{transform: translateY(-8px);cursor: pointer;}
.popular article .populer-data{
    color: #fff;
    font-size: 18px;
    gap: 15px;
    display:grid ;
    grid-template-columns: repeat(2 , max-content);
    margin-bottom: 15px;
}
.popular article .btn{
    bottom: 0;right: 0;
    position: absolute;
    border-radius: 15px 0 15px 0;
}
.popular article .btn i{font-size: 20px;}
.popular article .populer-data i:hover{cursor: pointer;color: var(--blue);}
.detail{height: 55rem;}
.detail .container{
    position: relative;
    justify-content: center;
    grid-template-columns: 210px;
}
.detail .container .detail-group{
    display: grid;
    position: relative;
    z-index: 12;
}
.detail .container .detail-group img{
    width: 200px;
    justify-self: center;
    align-items: center;
}
.detail .container .detail-group .all-card{
    position: absolute;
    background-color: hsla(0, 0%, 100%, .1);
    backdrop-filter: blur(16px);
    text-align: center;
    border-radius: 12px;
    width: 125px;
    color: #fff;
    padding: 10px 30px;
    left: -60px;
}
.detail .container .detail-group .frist-card{top: 4rem;}
.detail .container .detail-group .secand-card{top: 12rem;left: 8rem;}
.detail .container .detail-group .therid-card{top: 20rem;}
.map{
    position: relative;
    top: -22rem;left: 1.5rem;
    width: 500px;
    transform: rotate(-22deg);
    max-width: initial;
    margin: auto;
}
@media  (min-width: 600px) and (max-width: 1899px){
    .map{
        width: 850px;
        left: 7rem;
        top: -30rem;
    }
}
@media  (min-width: 600px) {
    .map{
        left: 15rem;
    }
}
.featured .container{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.featured .container .featured-btns,.featured .container .featured-cards{display: flex;justify-content: center;align-items: center;}
.featured .container .featured-btns .featured-btn{
    margin: 10px;
    width: 50px;height: 50px;
    border-radius: 5px;
    cursor: pointer;
    background-color: #292a2e;
    color: #fff;
}
.featured .container .featured-btns .featured-btn:hover{background-color: var(--blue);}
.featured .container .featured-btns .featured-btn img{width: 40px;}
.featured .container .featured-btns .featured-btn img,.featured .container .featured-btns .featured-btn span{opacity: .3;transition: .3s;}
.featured .container .featured-btns:hover .featured-btn img,.featured .container .featured-btns:hover .featured-btn span{opacity: 1;}
.featured .container .featured-cards{
    grid-template-columns: 228px;
    justify-content: center;
    row-gap: 2.5rem;
}
.featured .container .featured-cards .featured-card{
    position: relative;
    border-radius: 8px;
    padding: 2rem 1.5rem 1.5rem;
    background-color: #18191b;
    margin: 15px ;
}
.featured .container .featured-cards .featured-card h3{font-size: 15px;color: #888b91;margin: 10px 0 20px;}
.featured .container .featured-cards .featured-card img{width: 200px;}
.featured .container .featured-cards .featured-card:hover img{transform: translateY(-8px);cursor: pointer;}
.featured .container .featured-cards .featured-card .price{margin: 15px 0;}
.featured .container .featured-cards .featured-card .btn{bottom: 0;right: 0;position: absolute;border-radius: 15px 0 15px 0;}
.offer{background: url(../images/img1.png) no-repeat;background-position: center;background-size: cover;}
.offer .container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.offer .offer-data{width: 36rem;height: 23rem;flex: 1 1 35rem;}
.offer .offer-data span{color: var(--blue);}
.offer .offer-data p{
    color: #888b91;
    font-size: 15px;
    margin: 50px 0;
    line-height: 1.5;
}
.offer .offer-data a{margin-top: 50px;position: absolute;}
.offer .container .offer-img{width: 480px;overflow: hidden;object-fit: cover;}
.offer .container .offer-img img{width: 100%;height: 100%;}
@media  (max-width: 1131px){
    .offer{
        text-align: center;
    }
    .offer .offer-data a{
        position: relative;
    }
    .offer .offer-data p {
        color: #888b91;
        font-size: 15px;
        margin: 33px 0;
    }
}
@media  (min-width: 1132px){
    .offer .offer-data {
        flex: 1 1 19rem;
    }
}
.logo{margin: 35px 0;}
@media (min-width: 666px) {
    .logo .logos{
        justify-content: center;
        align-items: center;
        gap: 60px;
        display: flex;
    }
    .logo .logos .logo-item {
        flex: 1 1 50px;
    }
}
@media (max-width: 665px) {
    .logo .logos{
        justify-content: center;
        align-items: center;
        gap: 55px;
        grid-template-columns: repeat(3, max-content);
    }
}
.logo .logos .logo-item img{width: 50px;opacity: .4;transition: .3s;}
.logo .logos .logo-item img:hover{opacity: 1;cursor: pointer;}
.footer{position: relative;}
.footer .container{display: flex;flex-wrap: wrap;gap: 20px;}
.footer .container .footer-data .icons{display: flex;flex-wrap: wrap;gap: 8px;}
.footer .shadow-one,.footer .shadow-two{position: absolute;}
.footer .shadow-one{
    width: 300px;
    height: 300px;
    left: 1rem;
    top: -4rem;
}
.footer .shadow-two{right: -5rem;bottom: -3rem;}
.footer .container .footer-data .links li a i{font-size: 25px;}
.footer .container .footer-data .links li a i:hover{color: #fff;}
.footer .container .footer-data{flex: 1 1 15rem;}
.footer .container .footer-data a{color: #fff;font-size: 20px;margin-bottom:20px ;}
.footer .container .footer-data a:hover{color: var(--blue);}
.footer .container .footer-data p{color: #888b91;font-size: 15px;margin: 40px 0;}
.footer .container .footer-data p span{ color: var(--blue);}
.footer .container .footer-data .links{color: #888b91;font-size: 15px;margin: 40px 0;}
.footer .container .footer-data .links a{color: #888b91;font-size: 15px;margin-bottom:20px ;}
.footer .container .footer-data .links a:hover{color: #fff;}
.footer .container .footer-data .links li{margin-bottom: 20px;}
.footer .container .footer-data .links li:hover{padding-left: 15px;color: #fff;}
.footer .credit {text-align: center;border-top: 1.5px solid #333;margin: 5px;}
.footer .credit p{color: #888b91;margin: 20px 0;}
.footer .credit p span{color: var(--blue);}